name: Auto Assign Reviewers by File Change

on:
  pull_request:
    types: [opened, reopened, synchronize]

permissions:
  pull-requests: write

jobs:
  auto-assign:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Auto assign reviewers
        uses: kentaro-m/auto-assign-action@v1.2.5
