name: Auto Assign Reviewers
on:
  pull_request:
    types: [opened, reopened, synchronize]

permissions:
  contents: read
  pull-requests: write

jobs:
  auto-assign:
    runs-on: ubuntu-latest
    steps:
      - name: Auto assign reviewers
        uses: kentaro-m/auto-assign-action@v1.2.5
        with:
          config: .github/auto_assign.yml
          repo-token: ${{ secrets.GITHUB_TOKEN }}
