name: ci workflows

on:
  pull_request:
    branches: [ main ]
jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - name: check repo
        uses: actions/checkout@v4

      - name: Check README existence
        run: |
          if [ ! -f README.md ]; then
            echo "❌ README.md is missing"
            exit 1
          fi
          echo "✅ README.md exists"

      - name: Final confirmation
        run: echo "CI completed successfully"
        
      - name: create ci file
        run: |
          echo "successfully created ci file $(date)" >report.txt
          
      - name: upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ci-report
          path: report.txt
          
